@model ChoixResto.Models.Restaurant
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModifierRestaurant</title>  
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>
                    Modifier restaurant
                </legend>
                @Html.LabelFor(m => m.Nom)
                @Html.TextBoxFor(m => m.Nom)
                @Html.ValidationMessageFor(m => m.Nom)
                @Html.LabelFor(m => m.Telephone)
                @Html.TextBoxFor(m => m.Telephone )
                @Html.ValidationMessageFor(m => m.Telephone)
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
                <br/>
                <input type="submit" value="Modifier"/>
            </fieldset>
        }   
    </div>
    <script type="text/javascript" src="~/scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
